{% extends "adminbase.html" %}

{% block title %}Admin ciudades{% endblock %}

{% block content %}
    
    <div class="container-fluid">
        <h1> Ciudades</h1>
        <br />
        <div class="row">
        <div class="col-md-6" id="listado">
            <h1>Listado Ciudades</h1>
            <div id="datosGuardados" class="row"></div>
          </div>
          <div class="col-md-6 d-none" id="formu_modifica">
            <div class="d-flex">
            <button
                type="button"
                onclick="ocultarFormu()"
                class="btn btn-primary btn-sm ml-auto"
              >
                X
              </button>
            </div>
            <h1>Modificación de datos</h1>
            <form id="FormularioModif"></form>
            <div class="form-group">
                <input
                  type="text"
                  id="id_ciudad"
                  class="form-control"
                  name="nombre_ciudad_mod"
                  readonly
                />
                <label for="nombre">Nombre Ciudad:</label>
                
                <input
                  type="text"
                  id="nombre_ciudad_mod"
                  class="form-control"
                  name="nombre_ciudad_mod"
                  required
                />
              </div>
              <div class="form-group">
                <label for="nombre">pertenece al país:</label>
                <input
                  type="text"
                  id="pais"
                  class="form-control"
                  name="pais"
                  required
                />
              </div>

              <button
                type="button"
                class="btn btn-primary"
                onclick= "editar(document.getElementById('id_ciudad').value)"
              >
                Modificar
              </button>
            </form> 
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 d-block" id="formulario">
            
            <h2>Agregar Ciudades</h2>
            <form id="miFormulario">
              <div class="form-group">
                <label for="nombre">Nombre Ciudad:</label>
                <input
                  type="text"
                  id="nombre_ciudad"
                  class="form-control"
                  name="nombre_ciudad"
                  required
                />
              </div>
              <div class="form-group">
                <label for="nombre">Pertenece al país:</label>
                <input
                  type="text"
                  id="n_pais"
                  class="form-control"
                  name="n_pais"
                  required
                />
              </div>
              <button
                type="button"
                class="btn btn-primary"
                onclick="subir()"
              >
                Nueva ciudad!
              </button>
            </form>
          </div>

          <div class="row">
            <div class="col-md-12" id="avisos"></div>
          </div>
        </div>
      </div>
      <br />
      <script src="../public/js/adminciudades.js" defer></script>
      
{% endblock %}