<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
</head>
<body>
  <h1>{{ title }}</h1>
  <h2>Hola Varo Fans!!!</h2>
  <h2>Bienvenidos a la página de Remedios Varo 🎨 </h2>

  <h1>Api Cuadros</h1>
      <p>Bienvenidos a la API de cuadros de la página de Remedios Varo.</p>
      <p>
        Aquí encontrarás cuadros de Remedios Varo, y artistas relacionados con
        información sobre los mismos.
      </p>
      <p>Estos son los comandos:</p>
      <ul>
        <li>
          <strong>GET /cuadros</strong>: Acá sale el listado de todos los
          cuadros
        </li>
      </ul>
      <p>
        Para los siguientes comandos vas a necesitar tener una clave de
        administrador.
      </p>

      <ul>
        <li><strong>POST /cuadros</strong>: Para subir un nuevo cuadro</li>
        <li>
          <strong>PUT /cuadros/ID=(numero de cuadro)</strong>: Para modificar un
          cuadro que ya existe
        </li>
        <li>
          <strong>DELETE /cuadros/ID=(numero de cuadro)</strong>: Para borrar un
          cuadro
        </li>
      </ul>

</body>
</html>
