{% extends "base.html" %}


{% block title %}Página Principal{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Información adicional</h1>
    <h2>Links a páginas relacionadas con Remedios Varo</h2>
    <ul class="list-group">
      <li class="list-group-item list-group-item-action">
        <a href="https://www.wikiart.org/es/remedios-varo">Wiki Art</a>
      </li>
      <li class="list-group-item list-group-item-action">
        <a href="https://historia-arte.com/artistas/remedios-varo">
          Historia Arte
        </a>
      </li>
      <li class="list-group-item list-group-item-action">
        <a href="https://artsandculture.google.com/entity/m039mtp?hl=es"
          >Google Arts &amp Culture</a
        >
      </li>
    </ul>
{% endblock %}